@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 324 17% 88%;
    --foreground: 350 30% 19%;
 
    --muted: 320 11% 87%;
    --muted-foreground: 350 30% 15%;
 
    --popover: 324 17% 88%;
    --popover-foreground: 350 30% 19%;
 
    --card: 324 17% 88%;
    --card-foreground: 350 30% 19%;
 
    --border: 0 16% 32%;
    --input: 0 16% 32%;
 
    --primary: 16 58% 32%;
    --primary-foreground: 320 11% 89%;
 
    --secondary: 320 11% 87%;
    --secondary-foreground: 16 58% 27%;
 
    --accent: 320 11% 87%;
    --accent-foreground: 16 58% 27%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 0 16% 29%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 350 30% 15%;
    --foreground: 324 17% 88%;
 
    --muted: 350 30% 23%;
    --muted-foreground: 320 11% 87%;
 
    --popover: 350 30% 15%;
    --popover-foreground: 324 17% 88%;
 
    --card: 350 30% 15%;
    --card-foreground: 324 17% 88%;
 
    --border: 350 30% 23%;
    --input: 350 30% 23%;
 
    --primary: 320 11% 89%;
    --primary-foreground: 16 58% 32%;
 
    --secondary: 350 30% 23%;
    --secondary-foreground: 320 11% 87%;
 
    --accent: 350 30% 23%;
    --accent-foreground: 320 11% 87%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 350 30% 23%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}